/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #b8ff2c;
  background: #222;
}

.index {
  width: 40%;
  margin: 50px auto;
  padding: 10px;
  background: #333;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
}
.header button {
  background-color: #b8ff2c;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  color: rgb(25, 142, 159);
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;

  &:focus {
    outline: none;
  }

  &:hover{
    background-color: #2ce4ff;
    color: white;
  }
}
.square {
  background-color: #2ce4ff;
  display: inline-block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  vertical-align: top;
  transition: all 0.5s;

  &:hover{
    background-color: #1e8695;
  }

  span {
    display: none;
  }
}
.square-open {
  background-color: white;
  color: #333;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;

  span {
    display: block;
  }
}
.flag {
  background-color: #b8ff2c;
}

