/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  background: #222;
}

.index {
  width: 40%;
  margin: 50px auto;
  padding: 10px;
  background: #333;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
}

.square {
  background-color: navajowhite;
  display: inline-block;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  vertical-align: top;

  span {
    display: none;
  }
}
.square-open {
  background-color: white;
  color: blue;

  span {
    display: block;
  }
}

